.itemInfo {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  border-radius: 8px;

  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
}

.itemInfo div:last-child time {
  display: flex;
  justify-content: flex-end;

  font-size: .75rem;
  color: var(--gray-300);
}

.itemInfo + .itemInfo {
  margin-top: .75rem;
}

.item {
  display: flex;
  flex: 1;

  gap: 0.75rem;

  align-items: flex-start;
  justify-content: space-between;
}

.itemLabel {
  display: flex;
  padding: 3px;
  gap: 0.75rem;
}

.itemLabel input {
  display: none;
}

.itemButton {
  background: transparent;
  color: var(--gray-300);
  font-size: 0;
  border: none;
  border-radius: 4px;
}

.itemButton:hover {
  background: var(--gray-400);
  color: var(--danger);
}

.contentUnchecked {
  font-size: .875rem;
  line-height: 140%;
  color: var(--gray-100);
}

.contentChecked {
  text-decoration: line-through;
  font-size: .875rem;
  line-height: 140%;
  color: var(--gray-300);
}

.checkbox {
  transition: 0.2s all;
}

.checkboxChecked {
  border-radius: 100%;
  background: var(--purple-dark);
  opacity: 90%;
}

.checkboxChecked:hover {
  background-color: var(--purple);
}

.checkboxUnchecked {
  border: 2px solid var(--blue);
  border-radius: 100%;
  background: transparent;
}

.checkboxUnchecked:hover {
  background-color: rgba(32, 83, 117, 0.2);
}

.checkboxUnchecked polyline {
  display: none;
}